.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
  
    
}

.icc i:hover{
    border-color: black;
    color: rgb(206, 206, 7);

}